absl-py==2.1.0
astroid==3.2.2
asttokens==2.4.1
astunparse==1.6.3
blosc2==2.7.0
carbontracker==1.2.5
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
dill==0.3.8
docutils==0.21.2
flatbuffers==24.3.25
fonttools==4.53.0
future==1.0.0
gast==0.6.0
geocoder==1.38.1
google-pasta==0.2.0
grpcio==1.64.1
h5py==3.11.0
idna==3.7
importlib_metadata==8.0.0
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
keras==3.4.1
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
machine==0.0.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
mccabe==0.7.0
mdurl==0.1.2
ml-dtypes==0.3.2
mne==1.7.1
msgpack==1.0.8
mypy==1.10.0
mypy-extensions==1.0.0
namex==0.0.8
ndindex==1.8
numexpr==2.10.1
numpy==1.26.4
opt-einsum==3.3.0
optree==0.11.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pillow==10.4.0
platformdirs==4.2.2
pooch==1.8.2
protobuf==4.25.3
psg-utils==0.1.6
psutil==6.0.0
py-cpuinfo==9.0.0
pycparser==2.22
pycrypto==2.6.1
pycryptodome==3.20.0
Pygments==2.18.0
pylint==3.2.2
pynvml==11.5.0
pyparsing==3.1.2
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
ratelim==0.1.6
requests==2.32.3
rich==13.7.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn==1.5.1
scipy==1.14.0
Send2Trash==1.8.3
six==1.16.0
soundfile==0.12.1
tables==3.9.2
tabulate==0.9.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-addons==0.23.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
thonny==4.1.4
threadpoolctl==3.5.0
tomli==2.0.1
tomlkit==0.12.5
tqdm==4.66.4
typeguard==2.13.3
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.2
utime==1.1.7
Werkzeug==3.0.3
wfdb==4.1.2
wrapt==1.16.0
yamlhparams==0.2.0
zipp==3.19.2
